.win {
	margin-left: 8px;
	height: 100%;
}

.content {
    border-radius: 12px;
    /* border: 1px solid rgba(192, 179, 179, 0.514); */
	display: flex;
	justify-content: center;
	padding: 30px 0 40vh 0;
	display: grid;
}

.main {
	display: grid;
    overflow-y: auto;
}

.search {
	width: 90%;
    margin: auto;
}

.bookmarks__list {
    overflow-y: auto;
    margin: auto;
	padding: 20px 0 ;
}

.setting {
    height: 45px;
    width: 45px;
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    border: 1px solid rgba(26, 26, 26, 0);
    background-color: rgba(41, 41, 41, 0);
    border-radius: 8px;
    padding-top: 4px;
    cursor: pointer;
    transition: all .5s;
}

.setting:hover {
    border: 1px solid rgb(26, 26, 26);
    background-color: rgba(129, 129, 129, 0.801);
}

.bookmarks__list {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	overflow-y: auto; 
}
